<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".T16_SQLite.T16_SQLite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T15_sharedPreperences.T15_SharedPreferences">
        </activity>
        <activity android:name=".T14_runtime_permission.T14_RuntimePermission"></activity>
        <activity android:name=".T13_Webview.T13_Webview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".t12_retrofit.T12_retrofit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T11_json.T11_JSON">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".P01_weather.P01_Weathrer" />
        <activity android:name=".T10_recyclerview.T10_Recyclerview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T09_XML.T09_XML" />
        <activity android:name=".T08_asynctask.T08_AsyncTask" />
        <activity android:name=".T07_Thread.T07_Thread" />
        <activity android:name=".T06_alertdialog.T06_AlertDialog" />
        <activity android:name=".T05_customlistview.T05_CustomListView" />
        <activity android:name=".T04_listview.T04_ListView" />
        <activity android:name=".T03_Activity.T03_NewActivity" />
        <activity android:name=".T03_Activity.T03_Activity" />
        <activity android:name=".T02_UIWidget.T02_UIWidgetActivity" />
        <activity android:name=".T01_Menu.T01_Menu" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>